node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log*
Dockerfile
docker-compose.yml
.dockerignore
README.md
prisma/dev.db
prisma/dev.db-*
prisma/seed-data/*.csv
!prisma/seed-data/*.example.csv
public/sw.js
public/sw.js.map
public/swe-worker-*.js
